mixin campaign_list(campaigns)
  div(ng-app="user" ng-controller="CampaignController")
    h1 活动列表
    ul
      each campaign in campaigns
        li
          h3= '参加活动人数:' + campaign.campaign.member.length
          h2= campaign.campaign.content
          p= '创建时间' + campaign.create_time
          p= '开始时间' + campaign.start_time
          p= '结束时间' + campaign.end_time
          button.next.btn.btn-primary.btn-lg.center-block(ng-click="join(#{campaign.id})") 参加
          button.next.btn.btn-primary.btn-lg.center-block(ng-click="quit(#{campaign.id})") 退出
append footExt
  script(src="/js/controllers/user.js")
