extends ../layouts/manager

block panel
  .arena(ng-app='arena' ng-controller='arenaDetailController')
    h1 擂台详情
    .row
      .col-xs-8
        .row
          label 类型:
          label= arena.group_type
        .row
          label 地区:
          label=  arena.city.province + arena.city.city
        .row
          label 地点：
          label= arena.address
        .row
          label 擂主：
          label= arena.champion.cid ? arena.champion.tname :'无'
        if(alert_flag)
          .row
            button(data-toggle="modal" data-target="#addCampaignInfoModal") 填写挑战信息
          div(class="modal fade" id="addCampaignInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
            .modal-dialog
              .modal-content
                .modal-header
                  button(class="close" data-dismiss="modal" aria-hidden="true") X
                  h4.modal-title#myModalLabel 填写可挑战信息
                .modal-body
                  form.row(name="campaignInfoForm")
                    label 内容
                      input(type="text" class="form-control" name="content" ng-model="campaign_info.content" required)
                    label 赛制
                      input(type="text" class="form-control" name="competition_format" ng-model="campaign_info.competition_format" required)
                    label 备注
                      input(type="text" class="form-control" name="remark" ng-model="campaign_info.remark" required)
                    label 地点
                      input(type="text" class="form-control" name="location" ng-model="campaign_info.location.name" required)
                    label 人数
                      input(type="text" class="form-control" name="number" ng-model="campaign_info.number" required)
                    label 比赛时间
                      .input-group.date.form_datetime.col-md-5(data-date="2014-04-29T05:25:07Z" data-date-format="yyyy-mm-dd hh:ii p" data-link-field="dtp_input_competition_date")
                        input.form-control(size="16" type="text" value="" readonly)
                        span.input-group-addon
                          span.glyphicon.glyphicon-th
                      input(id="dtp_input_competition_date" type="hidden" name="competition_date" required)
                    label 截止时间
                      .input-group.date.form_datetime.col-md-5(data-date="2014-04-29T05:25:07Z" data-date-format="yyyy-mm-dd hh:ii p" data-link-field="dtp_input_deadline")
                        input.form-control(size="16" type="text" value="" readonly)
                        span.input-group-addon
                          span.glyphicon.glyphicon-th
                      input(id="dtp_input_deadline" type="hidden" name="deadline" required)
                .modal-footer
                  button(class="btn btn-default" data-dismiss="modal") 取消
                  button(class="btn btn-primary" ng-disabled='campaignDisabled' ng-click='addCampaignInfo("#{arena.id}")' data-dismiss="modal") 确定
        else if(!champion_flag)
          if(arena.champion.cid)
            if(arena.champion.active)
              .row
                button(ng-click='challengeArena("#{arena.id}")') 攻擂
            else
              .row
                label 请等待擂主填写挑战信息
          else
            .row
              button(ng-click='robArena("#{arena.id}")') 我要抢擂
    if(arena.champion.cid)
      .row
        h1 擂主信息
      .row
          img.size_80(src='#{arena.champion.logo ? arena.champion.logo:"/img/group/logo/default.png"}')
          .row
            label 公司名称：
            label= arena.champion.cname
          .row
            label 队伍名称：
            label= arena.champion.cname
          .row
            label 队长名称：
            label= arena.champion.username
          .row
            label 上擂时间：
            label= arena.champion.start_time.toLocaleDateString()
          .row
            label 获胜次数：
            label= arena.champion.win_time ? arena.champion.win_time : 0
    hr
    if(arena.campaign_info.number || arena.campaign_info.location.name)
      .row
        h1 挑战信息
      .row
        .row
          label 地点：
          label= arena.campaign_info.location.name ? arena.campaign_info.location.name : ''
        .row
          label 时间：
          label= arena.campaign_info.campaign_date ? arena.campaign_info.campaign_date.toLocaleDateString() : ''
        .row
          label 截止时间：
          label= arena.campaign_info.deadline ? arena.campaign_info.deadline.toLocaleDateString() : ''
        .row
          label 赛制：
          label= arena.campaign_info.competition_format ? arena.campaign_info.competition_format : ''
        .row
          label 人数：
          label= arena.campaign_info.number ? arena.campaign_info.number : ''
        .row
          label 备注：
          label= arena.campaign_info.remark ? arena.campaign_info.remark : ''
    hr
    .row
      h1 历届擂主信息
    each champion in arena.history
      .row
        img.size_80(src='#{champion.logo ? champion.logo:"/img/group/logo/default.png"}')
        .row
          label 公司名称：
          label= champion.cname
        .row
          label 队伍名称：
          label= champion.cname
        .row
          label 队长名称：
          label= champion.username
        .row
          label 上擂时间：
          label= champion.start_time.toLocaleDateString()
        .row
          label 获胜次数：
          label= champion.win_time ? champion.win_time : 0
append footExt
  script(src="/js/controllers/arena.js")