extends ../layouts/manager

block panel
  #competition_content(data-nowteam="#{team}")
    .row
      .teamInfo.col-xs-4
        img.size_210.teamLogo(src='#{competition.camp_a.logo}')
        div
          a.teamName= competition.camp_a.tname
        div
          each teamAMember in competition.camp_a.member
            img.size_50.teamMember(draggable="#{team=='A'}" ondragstart='drag(event)' ondragend='dragend(event)' src='#{teamAMember.photo}' id='#{teamAMember.uid}')
      .vs.col-xs-4
        h1.text-center VS
      .teamInfo.col-xs-4
        img.size_210.teamLogo(src='#{competition.camp_b.logo}')
        div
          a.teamName= competition.camp_b.tname
        div
          each teamBMember in competition.camp_b.member
            img.size_50.teamMember(draggable="#{team=='B'}" ondragstart='drag(event)' ondragend='dragend(event)' src='#{teamBMember.photo}' id='#{teamBMember.uid}')
    .row.formatField.field
      img#formatField.col-xs-12.img_contain.field(draggable="false" ondrop='drop(event)' ondragover='allowDrop(event)' src='/img/field.png')
      each teamAMember in competition.camp_a.formation
        img.size_50.teamMember.onmemberA(draggable="#{team=='A'}" ondragstart='drag(event)' ondragend='dragend(event)' src='#{teamAMember.photo}' id='on_#{teamAMember.uid}' data-top='#{teamAMember.y}' data-left='#{teamAMember.x}')
      each teamBMember in competition.camp_b.formation
        img.size_50.teamMember.onmemberB(draggable="#{team=='B'}" ondragstart='drag(event)' ondragend='dragend(event)' src='#{teamBMember.photo}' id='on_#{teamBMember.uid}' data-top='#{teamBMember.y}' data-left='#{teamBMember.x}')





block aside
  .infoHead.row
    h4.pull-left 活动简介
    div(ng-app="group" ng-controller="resultController")
      button(ng-if="#{leader}" data-toggle="modal" data-target="#resultModel") 结果确认
      div(class="modal fade" id="resultModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        .modal-dialog
          .modal-content
            .modal-header
              button(class="close" data-dismiss="modal" aria-hidden="true") x
              h4(class="modal-title" id="myModalLabel") 比赛确认
            .modal-body
              .row
                label 确认内容
                  input(type="text" class="form-control" name="content" ng-model="rst_content")
                label 我方比分
                  input(type="text" class="form-control" name="score_a" ng-model="score_a")
                label 对方比分
                  input(type="text" class="form-control" name="score_b" ng-model="score_b")
            .modal-footer
              button(ng-if="!msg_show" type="button" class="btn btn-primary" ng-click='confirm(false)' data-dismiss="modal") 确定
              button(ng-if="msg_show" type="button" class="btn btn-primary" ng-click='confirm(true)' data-dismiss="modal") 接受对方确认
              button(ng-if="msg_show" type="button" class="btn btn-primary" ng-click='confirm(false)' data-dismiss="modal") 发出异议
  hr
  .row
    input#competition_id(type='hidden' value='#{competition.id}')
    label.col-xs-4.control-label 类型：
    label.col-xs-8.control-label= competition.group_type
  .row
    label.col-xs-4.control-label 赛制：
    label.col-xs-8.control-label= competition.brief.competition_format
  .row
    label.col-xs-4.control-label 人数：
    label.col-xs-8.control-label= competition.brief.number
  .row
    label.col-xs-4.control-label 场地：
    label.col-xs-8.control-label= competition.brief.location
  .row
    label.col-xs-4.control-label 应战截止时间：
    label.col-xs-8.control-label= competition.brief.deadline.toLocaleDateString()
  .row
    label.col-xs-4.control-label 活动时间：
    label.col-xs-8.control-label= competition.brief.competition_date.toLocaleDateString()
  .row
    label.col-xs-4.control-label 备注：
    label.col-xs-8.control-label= competition.brief.remark
  hr
  .infoHead.row
    h4.pull-left 活动地点
  #location.size_210(data-location=competition.brief.location data-address=competition.map.address data-longitude=competition.map.longitude data-latitude=competition.map.latitude)
  hr
  .infoHead.row
    h4.pull-left 活动精彩照片
    a(href="/group/competition/#{competition_id}/managePhotoAlbum") 管理相册

append footExt
  script(src="http://api.map.baidu.com/api?v=2.0&ak=bXB8FnPKWMDfTYOtIbGXGHNx")
  script(src="/js/controllers/group.js")

