extends ../layouts/manager

block panel
  #competition_content(data-nowteam="#{team}" data-id='#{competition.id}')
    .row
      .teamInfo.col-xs-4
        img.size_210.teamLogo(src='#{competition.camp[0].logo?competition.camp[0].logo:"/img/group/logo/default.png"}')
        div
          a.teamName= competition.camp[0].tname
        div
          each teamAMember in competition.camp[0].member
            img.size_50.teamMember(draggable="#{team=='A'}" src='#{teamAMember.photo}' id='#{teamAMember.uid}')
      .vs.col-xs-4
        h1.text-center VS
      .teamInfo.col-xs-4
        img.size_210.teamLogo(src='#{competition.camp[1].logo?competition.camp[1].logo:"/img/group/logo/default.png"}')
        div
          a.teamName= competition.camp[1].tname
        div
          each teamBMember in competition.camp[1].member
            img.size_50.teamMember(draggable="#{team=='B'}" src='#{teamBMember.photo}' id='#{teamBMember.uid}')
    .row.formatField.field
      img#formatField.col-xs-12.img_contain.field(draggable="false" src='/img/field.png')
      each teamAMember in competition.camp[0].formation
        img.size_50.teamMember.onmemberA(draggable="#{team=='A'}" id='on_#{teamAMember.uid}' data-top='#{teamAMember.y}' data-left='#{teamAMember.x}')
      each teamBMember in competition.camp[1].formation
        img.size_50.teamMember.onmemberB(draggable="#{team=='B'}" id='on_#{teamBMember.uid}' data-top='#{teamBMember.y}' data-left='#{teamBMember.x}')





block aside
  .infoHead.row
    h4.pull-left 活动简介
    div(ng-app="group" ng-controller="resultController" ng-init="msg_show=#{msg_show};rst_content='#{rst_content}';score_a=#{score_a};score_b=#{score_b}" )
      button(ng-if="#{leader}" data-toggle="modal" data-target="#resultModel") 结果确认
      div(class="modal fade" id="resultModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        .modal-dialog
          .modal-content
            .modal-header
              button(class="close" data-dismiss="modal" aria-hidden="true") x
              h4(class="modal-title" id="myModalLabel") 比赛确认
            .modal-body
              .row
                label 确认内容
                  input(type="text" class="form-control" name="content" ng-model="rst_content")
                label 我方比分
                  input(type="text" class="form-control" name="score_a" ng-model="score_a")
                label 对方比分
                  input(type="text" class="form-control" name="score_b" ng-model="score_b")
            .modal-footer
              button(ng-if="!#{msg_show}" type="button" class="btn btn-primary" ng-click='confirm(false)' data-dismiss="modal") 确定
              button(ng-if="#{msg_show}" type="button" class="btn btn-primary" ng-click='confirm(true)' data-dismiss="modal") 接受对方确认
              button(ng-if="#{msg_show}" type="button" class="btn btn-primary" ng-click='confirm(false)' data-dismiss="modal") 发出异议
  hr
  .row
    label.col-xs-4.control-label 类型：
    label.col-xs-8.control-label= competition.group_type
  .row
    label.col-xs-4.control-label 赛制：
    label.col-xs-8.control-label= competition.brief.competition_format
  .row
    label.col-xs-4.control-label 人数：
    label.col-xs-8.control-label= competition.brief.number
  .row
    label.col-xs-4.control-label 场地：
    label.col-xs-8.control-label= competition.brief.location.name
  .row
    label.col-xs-4.control-label 应战截止时间：
    label.col-xs-8.control-label= competition.brief.deadline.toLocaleDateString()
  .row
    label.col-xs-4.control-label 活动时间：
    label.col-xs-8.control-label= competition.brief.competition_date.toLocaleDateString()
  .row
    label.col-xs-4.control-label 备注：
    label.col-xs-8.control-label= competition.brief.remark
  hr
  .infoHead.row
    h4.pull-left 活动地点
  #location.size_400

  hr
  .infoHead.row
    h4.pull-left 活动精彩照片
    a(href="/group/competition/#{competition.id}/photoAlbum/#{competition.photo.pid}") 上传照片
    input#photo_album_id(type="hidden" name="photo_album_id" value="#{competition.photo.pid}")
    div#photo_list(ng-controller="PhotoListCtrl")
      div(ng-repeat="photo in photos")
        img(ng-src="{{ photo.uri }}")

  script.
    var competition_location = !{JSON.stringify(competition.brief.location)}

append footExt
  script(src="http://api.map.baidu.com/api?v=2.0&ak=krPnXlL3wNORRa1KYN1RAx3c")
  script(src="/js/controllers/competition.js")
  script.
    var app = angular.module('photo_list', []);
    var photo_album_id = $('#photo_album_id').val();
    app.controller('PhotoListCtrl', ['$scope', '$http', function($scope, $http) {
      $scope.photos = [];
      $http.get('/photoAlbum/' + photo_album_id + '/photolist')
      .success(function(data, status) {
        $scope.photos = data.data;
      });

    }]);

    angular.bootstrap($('#photo_list'), ['photo_list']);


