extends ../layouts/default

block content
  div(ng-app="group")
    .infoHead.row
      h4.pull-left 基本信息
      a.pull-right 编辑>
    hr
    .row
      label.col-xs-2.control-label 小队名称
      label.col-xs-5.control-label= companyGroup.gid
    .row
      label.col-xs-2.control-label 所属公司
      label.col-xs-5.control-label= companyname
    .row
      label.col-xs-2.control-label 队员
      label.col-xs-5.control-label= companyGroup.member.length
    .row
      label.col-xs-2.control-label 简介
      label.col-xs-5.control-label= companyGroup.brief
    .row
      label.col-xs-2.control-label 成立时间
      label.col-xs-5.control-label= companyGroup.create_date
    .infoHead.row
      h4.pull-left 比赛信息
    hr
    .row
      label.col-xs-2.control-label 比赛场数
      label.col-xs-2.control-label
    .row
      label.col-xs-2.control-label 胜率
      label.col-xs-2.control-label
    .row
      label.col-xs-2.control-label 积分
      label.col-xs-2.control-label= companyGroup.score
    .row
      label.col-xs-2.control-label 排名
      label.col-xs-2.control-label= companyGroup.rank