extends ../layouts/manager

block baseInfo
  .row
    .col-md-2
      img.img-responsive.img-thumbnail(src="#{logo}" width="96px")
      a.btn.btn-primary(href="/group/editLogo") 修改Logo
    .col-md-10(style="height:96px")
      .row
        .col-md-4(style="height:48px") 队名 #{tname}
        .col-md-4(style="height:48px") 相册 #{ds}
      .row
        .col-md-4(style="height:48px") 成绩 #{score}
        .col-md-4(style="height:48px") 人数 #{number}
        .col-md-4(style="height:48px")
          button.btn-primary.btn-lg(data-toggle="modal" data-target="#sponsorCampaignModel") 活动
          button.btn-primary.btn-lg(data-toggle="modal" data-target="#sponsorProvokeModel") 挑战
          button.btn-primary.btn-lg(onclick="{location.href='/arena/home'}") 擂台

block panel
  div(ng-app="tabViewGroup")
    ul.nav.nav-tabs
      li
        a(href="#/group_message") 小组动态
      li
        a(href="#/group_campaign") 小组活动
      li
        a(href="#/group_member") 小组成员
      li
        a(href="#/group_info") 小组资料
    .tab-content
      .tab-pane.active
        div(ng-view)

    div(ng-controller="CampaignListController" class="modal fade" id="sponsorCampaignModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") X
            h4.modal-title#myModalLabel 发起活动
          .modal-body
            .row
              label 活动内容
                input(type="text" class="form-control" name="content" ng-model="content")
              label 开始时间

                .input-group.date.form_datetime.col-md-5(data-date="2014-04-29T05:25:07Z" data-date-format="yyyy MM dd - HH:ii p" data-link-field="dtp_input_start_time")
                  input.form-control(size="16" type="text" value="" readonly)
                  span.input-group-addon
                    span.glyphicon.glyphicon-remove
                  span.input-group-addon
                    span.glyphicon.glyphicon-th
                input(id="dtp_input_start_time" type="hidden" name="start_time" ng-model="start_time")
              label 结束时间
                .input-group.date.form_datetime.col-md-5(data-date="2014-04-29T05:25:07Z" data-date-format="yyyy MM dd - HH:ii p" data-link-field="dtp_input_end_time")
                  input.form-control(size="16" type="text" value="" readonly)
                  span.input-group-addon
                    span.glyphicon.glyphicon-remove
                  span.input-group-addon
                    span.glyphicon.glyphicon-th
                input(id="dtp_input_end_time" type="hidden" name="end_time" ng-model="end_time")
          .modal-footer
            button(class="btn btn-default" data-dismiss="modal") 取消
            button(class="btn btn-primary" ng-click='sponsor()' data-dismiss="modal") 确定

    div(ng-controller="CampaignListController" class="modal fade" id="sponsorProvokeModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            button(class="close" data-dismiss="modal" aria-hidden="true") X
            h4.modal-title#myModalLabel 发起挑战
          .modal-body
            .row
              label 内容
                input(type="text" class="form-control" name="content" ng-model="content")
              label 赛制
                input(type="text" class="form-control" name="competition_format" ng-model="competition_format")
              label 备注
                input(type="text" class="form-control" name="remark" ng-model="remark")
              label 地点
                input(type="text" class="form-control" name="location" ng-model="location")
              label 人数
                input(type="text" class="form-control" name="number" ng-model="number")
              label 比赛时间
                input(type="text" class="form-control" name="competition_date" ng-model="competition_date")
              label 截止时间
                input(type="text" class="form-control" name="deadline" ng-model="deadline")
            .row
              li(ng-repeat="company in companies")
                hr
                p 公司id: {{company.id}}
                p 公司名: {{company.name}}
                button(ng-click="getTeam(company.id)") 列出小组
            a(ng-click="provoke_select(teams.tname)") {{teams.tname}}
          .modal-footer
            button(class="btn btn-default" data-dismiss="modal") 取消
            button(class="btn btn-primary" ng-click='provoke()' data-dismiss="modal") 确定


block aside
  include ../partials/group_thumbnail
  +group_thumbnail(groups,'active',role?'我的兴趣小组':'公司的兴趣小组')
  +group_thumbnail(ugids,'inactive','未添加兴趣小组')
append footExt
  script(src="/lib/angular-route/angular-route.min.js")
  script(src="/js/controllers/tabviewGroup.js")
  script.
    $('.form_datetime').datetimepicker({
      language: 'zh-CN',
      weekStart: 1,
      todayBtn:  1,
      autoclose: 1,
      todayHighlight: 1,
      startView: 2,
      forceParse: 0,
      showMeridian: 1
    });