extends ../layouts/manager

block baseInfo
  .row
    .col-md-2
      img.img-responsive.img-thumbnail(src="#{big_logo}" width="96px")
      a.btn.btn-primary(href="/group/editLogo") 修改Logo
    .col-md-10(style="height:96px")
      .row
        .col-md-4(style="height:48px") 队名 #{tname}
        .col-md-4(style="height:48px") 相册 #{ds}
      .row
        .col-md-4(style="height:48px") 成绩 #{score}
        .col-md-4(style="height:48px") 人数 #{number}
        .col-md-2(style="height:48px")
          button.btn-primary.btn-lg(data-toggle="modal" data-target="#sponsorModel") 活动／挑战

block panel
  div(ng-app="tabViewGroup")
    ul.nav.nav-tabs
      li
        a(href="#/group_message") 小组动态
      li
        a(href="#/group_campaign") 小组活动
      li
        a(href="#/group_member") 小组成员
      li
        a(href="#/group_info") 小组资料
    .tab-content
      .tab-pane.active
        div(ng-view)

block aside
  include ../partials/group_thumbnail
  +group_thumbnail(groups,'active','我的兴趣小组')
  +group_thumbnail(ugids,'inactive','未添加兴趣小组')
append footExt
  script(src="/lib/angular-route/angular-route.min.js")
  script(src="/lib/jquery/dist/jquery.min.js")
  script(src="/lib/bootstrap/dist/js/bootstrap.min.js")
  script(src="/js/controllers/tabviewGroup.js")