extends ../layouts/default

block content
  .infoHead.row
    h4.pull-left 账户信息
    a.pull-right(href="#") 编辑>
  hr
  .row
    label.col-xs-2.control-label 登录邮箱
    label.col-xs-5.control-label= company.username
    a.col-xs-5(href="#") 修改密码
  .row
    label.col-xs-2.control-label 官方用户名
    label.col-xs-5.control-label= company.username
  .row
    label.col-xs-2.control-label 简介
    label.col-xs-5.control-label= company.username
  .row
    label.col-xs-2.control-label 注册时间
    label.col-xs-5.control-label= company.register_date
  .infoHead.row
    h4.pull-left 企业信息
    a.pull-right(href="#") 编辑>
  hr
  .row
    label.col-xs-2.control-label 企业全称
    label.col-xs-5.control-label= company.info.name
  .row
    label.col-xs-2.control-label 所在地
    label.col-xs-5.control-label= company.info.city.province + company.info.city.city
  .row
    label.col-xs-2.control-label 地址
    label.col-xs-5.control-label= company.info.address
  .row
    label.col-xs-2.control-label 联系人
    label.col-xs-5.control-label= company.info.linkman
  .row
    label.col-xs-2.control-label 公司电话
    label.col-xs-5.control-label= company.info.lindline.areacode + '-' + company.info.lindline.number + '-' + company.info.lindline.extension
  .row
    label.col-xs-2.control-label 手机号码
    label.col-xs-5.control-label= company.info.phone
  .row
    label.col-xs-2.control-label 电子邮箱
    label.col-xs-5.control-label= company.username
